[Unit]
Description=EthStats Server
After=network.target

[Service]
WorkingDirectory={{ethstats_dir}}
Environment={{ws_secret}}
ExecStart=/usr/bin/npm start
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
Alias=ethstats.service

