[Unit]
Description=EthStats Server
After=network.target

[Service]
WorkingDirectory={{ethstats_dir}}
Environment=WS_SECRET={{ws_secret}}
ExecStart=/usr/bin/npm start
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=default.target
